# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database files
*.db

# Ignore temporary VS Code runner files
tempCodeRunnerFile.*

# Ignore environment files (if you use virtualenv)
venv/
.env
